body {
  margin: 0;
  font-family: 'Aclonica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
*{
  margin: 0;
  padding: 0;
}
a {
  color: unset;
  text-decoration: none;
}
.container ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}
body.active {
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: rgb(0 0 0 / 6%) 0px 5px 15px;
  position: relative;
}

.container.nav-slided:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #0000009e;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.contain {
  margin-left: 240px;
  padding: 30px;
  min-height: 100vh;
}
.mt-12{
  margin-top: 12px;
}
.fs-22{
  font-size: 22px;
}
.ml-20{
  margin-left: 20px;
}
.page-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}
.backBtn {
  padding: 9px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s all;
  font-size: 20px;
  background: #fafafa;
  border: 1px solid #babfc3;
  display: inline-flex;
}
.backBtn:hover {
    background: #f1efef;
}
.page-header__content{
  margin-left: 20px;
}
.pagetitle {
  margin-bottom: 8px;
}

/*Button Style*/
.btn-btn-primary {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 6px;
  font-family: inherit;
  background: inherit;
  cursor: pointer;
  transition: 0.3s all;
  border: 1px solid #FFF;
  color: #fff;
}

.btn-btn-primary:hover {
  background: #fff;
  border-color:#000;
  color: #000;
}
.btn-btn-secondary {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 6px;
  font-family: inherit;
  background: inherit;
  cursor: pointer;
  transition: 0.3s all;
  border: 1px solid #000;
  color: #000;
}

.btn-btn-secondary:hover {
  background: #000;
  border-color:#fff;
  color: #fff;
}

.referenceTag {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: #595959;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
.custom_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #80808052;
  border-radius: 10px;
  background: #f1f1f1;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2d9;
}
.contentSection:last-child .dash-btn-container {
  border-bottom: unset;
}
  
/*Shabe Barat*/
.imgSection {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.imgSection  img {
  max-width: 390px;
}

@media screen and (max-width:992px){
  .Sidebar-Navigation {
    left: -245px !important;
    top: 0 !important;
}
.searchInput {
  display: none;
}
.contain {
  margin-left: 0px;
}

}


@media screen and (max-width:600px){
  .contain {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
img{
  width: 100%;
}

/* Data Table CSS */

.glyQNg, .eVPPvF {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.bQdYbR {
  min-width: 50px !important;
}
}